.auth-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.178);
  border-radius: 0.6rem;
  box-sizing: border-box;
  width: 30vw;
}
@media screen and (max-width:900px) {
  .auth-container{
    width: 450px;
  }
}
@media screen and (max-width:520px) {
  .auth-container{
    width: 350px;
  }
}
