.footer {
  background-color: #2f0052;
  width: 100vw;
  padding: 0.4rem;
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  margin: 0 !important;
  z-index: 900;
}

@media screen and (max-width:600px) {
  .footer{
    display: none;
  }
}