.MenuBar {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width:600px) {
  .MenuBar{
    width: 550px;
    overflow-x: scroll;
  }
  .MenuBar::-webkit-scrollbar{
    display: none;
  }
  .view-options{
    position: absolute;
    visibility:hidden;
  }
}