.MenuBar {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width:900px) {
  .MenuBar{
    width: 750px;
    overflow-x: scroll;
    padding: 0;
  }
  .MenuBar::-webkit-scrollbar{
    display: none;
  }
  .view-options{
    position: absolute;
    visibility:hidden;
  }
}

@media screen and (max-width:750px){
  .MenuBar{
    width: 630px;
  }
}

@media screen and (max-width:600px) {
  .MenuBar{
    width: 95vw;
  }
}

.appbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 33px;
  position: sticky;
  bottom: 0;
}
.box > p{
  font-size: 12px;
}